	server{

	port 8080

	hostname this

	server_name working

	err_page ?

	body_size

	search_dir

	dir_listing

	default_file

	CGI_extension
	
	methods [
		none
		again
	]

	uploads

	uploads_dir
}

	server{

	port 8081

	hostname this

	server_name working

	err_page ?

	body_size

	search_dir

	dir_listing

	default_file

	CGI_extension
	
	methods [
		none
		again
	]

	uploads

	uploads_dir
}